* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: younger, serif;
  background-color: hsl(30, 54%, 90%);
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300vh;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 1.875em;
  color: #333;
}
h2 {
    font-family: sans-serif;
    font-size: 18px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.875em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.img-div {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
  width: 100%;
}
.recipe-intro p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1.25em;
  color: #555;
  font-family: sans-serif;
  width: 90%;
}

/* preparation Section */
.preparation-div {
    background-color: hsl(330, 100%, 98%);
    padding: 1.25em;
    border-radius: 10px;
}
.preparation-div h2 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.625em;
}
.preparation-div li {
    margin-left: 2.5em;
    font-family: sans-serif;
    line-height: 2;
    color: #555;
}
.preparation-div li::marker {
    color: hsl(332, 51%, 32%);
}
.preparation-div span {
    font-weight: bold;
}

/* ingredients section */
.ingredients{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-top: 1.25em;
    margin-bottom: 1.875em;
}
.ingredients h2 {
    font-family: serif;
    font-size: 30px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 0.9375em;
}
.ingredients li {
    margin-left: 2.5em;
    font-family: sans-serif;
    line-height: 2;
    color: #555;
}
.ingredients li::marker {
    color: hsl(14, 45%, 36%);
}

/* instructions */
.instructions {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-top: 1.25em;
    margin-bottom: 1.875em;
}
.instructions h2 {
    font-family: serif;
    font-size: 30px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 0.9375em;
}
.instructions li {
    margin-left: 2.5em;
    font-family: sans-serif;
    line-height: 2;
    color: #555;
    width: 90%;
}
.instructions li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

/* nutrition-table */
.nutrition-table {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-top: 1.25em;
    margin-bottom: 1.875em;
}
.nutrition-table h2 {
    font-family: serif;
    font-size: 30px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 0.9375em;
}
.nutrition-table p {
    font-family: sans-serif;
    line-height: 2;
    color: #555;
    margin-bottom: 1.25em;
}
.nutrition-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25em;
}
.nutrition-table td {
    padding: 0.625em;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
    color: #555;

}
.nutrition-table tr:hover {
    background-color: hsl(0, 0%, 95%);
}
.nutrition-table .color {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}
@media (max-width: 2560px) {
    body {
        height: 200vh;
    }
    .nutrition-table {
        margin-top: 0.625em;
        margin-bottom: 1.25em;
    }
}

@media (max-width: 1440px) {
    body {
        height: 300vh;
    }
    .nutrition-table {
        margin-top: 0.625em;
        margin-bottom: 1.25em;
    }
}
@media (max-width: 375px) {
    body {
        height: 310vh;
    }
    .container {
        padding: 0;
        border-radius: 0 0 0 0 ;
    }
    h1 {
        font-size: 2em;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 0;
      }
    .preparation-div, .ingredients, hr, .instructions, .nutrition-table {
        width: 85%;
        margin-left: 1.875em;
    }
    .mobile-padding {
        padding: 0 1.875em;
    }
    .recipe-intro p {
        font-size: 14px;
    }
    .ingredients h2, .instructions h2, .nutrition-table h2 {
        font-size: 24px;
    }
    .ingredients li, .instructions li, .nutrition-table td {
        font-size: 14px;
    }
}